@charset "utf-8";

body {
	background-color: aliceblue;
}

img {
	width: 400px

}

img {
	border: 25px dotted purple;
}

img:hover {
	border: 25px dotted purple;
}

h1 {
	color: purple;
	
}

h1 {
	text-decoration: underline wavy;
	text-shadow: 12px 12px 15px purple;
}
